.chakra-button {
    height: 20px;
    position: fixed;
}

#portrait {
    height: 56.2vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: 430px) {
        width: 96.5%;
    }
}